.navbar {
    background-color: #5a0c5e;
}

.ribbon-titles span {
    color: white;
}

.ribbon-titles li :hover {
    color: darkgrey;
}

.ribbon-titles li ul {
    background-color: #5a0c5e;
    opacity: .80;
}

/**************************************************
                    Search Bar
***************************************************/
.search-container {
    height: 50px;
}

.search-form {
    width: 200px;
    padding-top: 9px;
}
.search-form .form-group {
    float:  right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    /*padding-right: 20px;*/
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:inline;
    color: #5a0c5e;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
 .search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 25px;/*4px 25px 25px 4px;*/
}
.search-form .form-group span.form-control-feedback {
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #5a0c5e;
    left: initial;
    font-size: 16px;
}
/**************************************************
                End of Search Bar
***************************************************/

.navbar-default .navbar-nav > li:hover {
    color: white;
    border-bottom: 2px solid #FFFFFF!important;
}
