<!DOCTYPE html>

<body class="header-fixed">
<div class="wrapper">
    <!--=== Header v5 ===-->
    <div class="header-v5 header-static" ng-switch="isAuthenticated()">
        <!-- Topbar v3 -->
        <div class="topbar-v3">

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Topbar Navigation -->
                        <ul class="left-topbar" ng-controller="LanguageController">
                            <li class="item-topbar">
                                <img width="9" height="9" src="/assets/images/triangle-white.png"/>
                                <a><text translate="global.menu.language">Language</text> ({{currentLanguage()}})</a>
                                <ul class="language">
                                    <li ng-repeat="language in languages" ng-click="changeLanguage(language)">
                                        <a href="#">{{language | findLanguageFromKey}} ({{language}})</a></li>
                                </ul>

                            </li>
                        </ul><!--/end left-topbar-->
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-inline left-topbar pull-right">
                            <li class="item-topbar" ng-switch-when="true">
                                <img width="9" height="9" src="/assets/images/triangle-white.png"/>
                                <a  translate="creativehubApp.navbar.account.account">ACCOUNT</a>
                                <ul class="language">
                                    <li><a href="#" translate="creativehubApp.navbar.account.accountInfo">Account Information</a></li>
                                    <li><a href="#" translate="creativehubApp.navbar.account.profile">Profile</a></li>
                                    <li><a href="#" translate="creativehubApp.navbar.account.favorites">Favorites</a></li>
                                    <li><a href="#" translate="creativehubApp.navbar.account.orders">Orders</a></li>
                                    <li><a href="#" translate="creativehubApp.navbar.account.upload">Upload work</a></li>
                                    <li><a href="" ng-click="logout()" translate="creativehubApp.navbar.account.logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul><!--/end left-topbar-->
                        <ul class="list-inline right-topbar pull-right">
                            <li><form class="search-form">
                                <div class="form-group has-feedback negative8-margin-bottom">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" class="form-control form-control2" style="padding-right: 0px;" name="search" id="search" placeholder="{{ 'global.menu.searchPlaceholder' | translate }}">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </form></li>
                            <li class="item-topbar">|</li>
                            <li class="item-topbar" ng-switch-when="false"><a ui-sref="login" translate="creativehubApp.navbar.login">Login</a></li>
                            <li class="item-topbar" ng-switch-when="false">|</li>
                            <li class="item-topbar" ng-switch-when="false"><a ui-sref="register" translate="creativehubApp.navbar.register">Register</a></li>

                        </ul>
                    </div>
                </div>
            </div><!--/container-->
        </div>
        <!-- End Topbar v3 -->

        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img id="logo-header" src="/assets/images/logo_emma_header.png" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <!-- Shopping Cart -->
                    <ul class="list-inline shop-badge badge-lists badge-icons pull-right">
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            <span class="badge badge-sea rounded-x">3</span>
                            <ul class="list-unstyled badge-open mCustomScrollbar" data-mcs-theme="minimal-dark">
                                <li>
                                    <img src="assets/img/thumb/05.jpg" alt="">
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Black Glasses</span>
                                        <small>1 x $400.00</small>
                                    </div>
                                </li>
                                <li>
                                    <img src="assets/img/thumb/02.jpg" alt="">
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Black Glasses</span>
                                        <small>1 x $400.00</small>
                                    </div>
                                </li>
                                <li>
                                    <img src="assets/img/thumb/03.jpg" alt="">
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Black Glasses</span>
                                        <small>1 x $400.00</small>
                                    </div>
                                </li>
                                <li class="subtotal">
                                    <div class="overflow-h margin-bottom-10">
                                        <span>Subtotal</span>
                                        <span class="pull-right subtotal-cost">$1200.00</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href="shop-ui-inner.html" class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">View Cart</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="shop-ui-add-to-cart.html" class="btn-u btn-u-sea-shop btn-block">Checkout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Shopping Cart -->

                    <!-- Nav Menu -->
                    <ul class="nav navbar-nav">
                        <!-- Pages -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" translate="creativehubApp.navbar.artwork">
                                Artwork
                            </a>
                            <ul class="dropdown-menu" >
                                <li ui-sref="login"  ng-repeat="subCat in artworkCategories"><a href="" translate="creativehubApp.categories.artworks.{{removeBlank(subCat.name) | lowercase}}">{{subCat.name}}</a></li>
                                <li><a href="" translate="creativehubApp.categories.artworks.all">All</a></li>
                            </ul>
                        </li>
                        <!-- End Pages -->

                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" translate="creativehubApp.navbar.designers">
                                Designers
                            </a>
                            <ul class="dropdown-menu" >

                                <li ng-repeat="subCat in professionalCategories"><a href="" translate="creativehubApp.categories.professionals.{{removeBlank(subCat.name) | lowercase}}">{{subCat.name}}</a></li>
                                <li><a href="" translate="creativehubApp.categories.professionals.all">All</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" translate="creativehubApp.navbar.events">
                                Events
                            </a>
                            <ul class="dropdown-menu" >
                                <li ng-repeat="subCat in eventCategories"><a href="" translate="creativehubApp.categories.events.{{removeBlank(subCat.name) | lowercase}}">{{subCat.name}}</a></li>
                                <li><a href="" translate="creativehubApp.categories.events.all">All</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Nav Menu -->
                </div>
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v5 ===-->

</div><!--/wrapper-->



</body>
</html>
