<div>
    <h2 translate="creativehubApp.document.home.title">Documents</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="document.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="creativehubApp.document.home.createLabel">Create a new Document</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDocumentConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(document.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="creativehubApp.document.delete.question" translate-values="{id: '{{document.id}}'}">Are you sure you want to delete this Document?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="creativehubApp.document.documentType">DocumentType</th>
                    <th translate="creativehubApp.document.documentNumber">DocumentNumber</th>
                    <th translate="creativehubApp.document.documentImagePath">DocumentImagePath</th>
                    <th translate="creativehubApp.document.country">country</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in documents track by document.id">
                    <td><a ui-sref="document.detail({id:document.id})">{{document.id}}</a></td>
                    <td>{{document.documentType}}</td>
                    <td>{{document.documentNumber}}</td>
                    <td>{{document.documentImagePath}}</td>
                    <td>
                        <a ui-sref="country.detail({id:document.country.id})">{{document.country.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="document.detail({id:document.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="document.edit({id:document.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(document.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
