<div class="log-reg">
    <div class="row">
        <div class="col-md-7 md-margin-bottom-50">
            <h2 class="welcome-title" translate="login.welcomeTitle">Welcome to EMMA Projects</h2>
            <p translate="login.welcomeSubtitle">Subtitle</p><br>
            <div class="info-block-v2">
                <i class="fa fa-paint-brush"></i>
                <div class="info-block-in">
                    <h3 translate="login.subtitle1">subtitle1</h3>
                    <p translate="login.subtitle1content">subtitle1content</p>
                </div>
            </div>
            <div class="info-block-v2">
                <i class="icon icon-fire"></i>
                <div class="info-block-in">
                    <h3 translate="login.subtitle2">Curabitur tincidunt</h3>
                    <p translate="login.subtitle2content">subtitle2content</p>
                </div>
            </div>
            <div class="info-block-v2">
                <i class="icon icon-basket"></i>
                <div class="info-block-in">
                    <h3 translate="login.subtitle3">Aenean condimentum</h3>
                    <p translate="login.subtitle3content">subtitle3content</p>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <form id="sky-form1" role="form" class="log-reg-block sky-form" ng-submit="login($event)">
                <h2 translate="login.title">Sign in</h2>
                <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>

                <section>
                    <label class="input login-input">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" id="username" placeholder="{{'global.form.username' | translate}}" ng-model="username" >
                        </div>
                    </label>
                </section>
                <section>
                    <label class="input login-input no-border-top">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="{{'login.form.password' | translate}}" name="password" ng-model="password">
                        </div>
                    </label>
                </section>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a class="alert-link" href="#/reset/request" translate="login.password.forgot">Forgot your Password?</a>
                    </div>
                </div>
                <button class="btn-u btn-block margin-bottom-20" type="submit" translate="login.form.button">Log in</button>

                <div class="border-wings">
                    <span translate="login.social.or">or</span>
                </div>

                <div class="row columns-space-removes">
                    <div class="col-lg-6 margin-bottom-10">
                        <jh-social type='block' external-account-provider="'facebook'">{{'login.social.facebook' | translate}}</jh-social>
                        <!--button type="button" class="btn-u btn-u-md btn-u-fb btn-block"><i class="fa fa-facebook"></i> Facebook Log In</button-->
                    </div>
                    <div class="col-lg-6">
                        <jh-social type='block' external-account-provider="'google'">{{'login.social.google' | translate}}</jh-social>
                        <!--button type="button" class="btn-u btn-u-md btn-u-google btn-block"><i class="fa fa-google"></i> Google Log In</button-->
                    </div>
                </div>
            </form>

            <div class="margin-bottom-20"></div>
            <div class="text-center" translate="global.messages.info.register">
                Don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
            </div>
        </div>
</div>
